In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

# Load the dataset
url = 'https://raw.githubusercontent.com/salemprakash/EDA/main/Data/sales.csv'
df = pd.read_csv(url)

# Display the first few rows of the dataframe
print("First few rows of the dataset:")
print(df.head(10))

# Calculate TotalPrice by multiplying Quantity and UnitPrice
df['TotalPrice'] = df['UnitPrice'] * df['Quantity']

# Display the updated dataframe with TotalPrice
print("\nUpdated dataset with TotalPrice:")
print(df[['Account', 'Company', 'TotalPrice']].head(10))

# Outlier detection: Transactions where TotalPrice exceeds 3,000,000
high_transactions = df[df['TotalPrice'] > 3000000]
print("\nTransactions with TotalPrice > 3,000,000:")
print(high_transactions[['Account', 'Company', 'TotalPrice']])

# Display transactions where TotalPrice exceeds 6,741,112
extreme_high_transactions = df[df['TotalPrice'] > 6741112]
print("\nTransactions with TotalPrice > 6,741,112:")
print(extreme_high_transactions[['Account', 'Company', 'TotalPrice']])

# Discretization and Binning for the 'TotalPrice' column
bins = [0, 1000000, 3000000, 6000000, np.inf]
bin_labels = ['Low', 'Medium', 'High', 'Very High']
df['PriceCategory'] = pd.cut(df['TotalPrice'], bins=bins, labels=bin_labels)

# Display the binned categories
print("\nTotalPrice categorized into bins:")
print(df[['Account', 'Company', 'TotalPrice', 'PriceCategory']].head(10))

# Count how many transactions fall into each bin
bin_counts = pd.value_counts(df['PriceCategory'])
print("\nCount of transactions in each bin:")
print(bin_counts)

First few rows of the dataset:
     Account           Company  Order                SKU        Country  Year  \
0  123456779         Kulas Inc  99985   s9-supercomputer          Aruba  1981
1  123456784            GitHub  99986   s4-supercomputer         Brazil  2001
2  123456782         Kulas Inc  99990  s10-supercomputer     Montserrat  1973
3  123456783         My SQ Man  99999   s1-supercomputer    El Salvador  2015
4  123456787         ABC Dogma  99996   s6-supercomputer         Poland  1970
5  123456778  Super Sexy Dingo  99996   s9-supercomputer     Costa Rica  2004
6  123456783         ABC Dogma  99981  s11-supercomputer          Spain  2006
7  123456785         ABC Dogma  99998   s9-supercomputer        Belarus  2015
8  123456778         Loolo INC  99997   s8-supercomputer      Mauritius  1999
9  123456775         Kulas Inc  99997   s7-supercomputer  French Guiana  2004

   Quantity  UnitPrice  transactionComplete
0      5148        545                False
1      3262        383                False
2      9119        407                 True
3      3097        615                False
4      3356         91                 True
5      2474        136                 True
6      4081        195                False
7      6576        603                False
8      2460         36                False
9      1831        664                 True

Updated dataset with TotalPrice:
     Account           Company  TotalPrice
0  123456779         Kulas Inc     2805660
1  123456784            GitHub     1249346
2  123456782         Kulas Inc     3711433
3  123456783         My SQ Man     1904655
4  123456787         ABC Dogma      305396
5  123456778  Super Sexy Dingo      336464
6  123456783         ABC Dogma      795795
7  123456785         ABC Dogma     3965328
8  123456778         Loolo INC       88560
9  123456775         Kulas Inc     1215784

Transactions with TotalPrice > 3,000,000:
        Account                   Company  TotalPrice
2     123456782                 Kulas Inc     3711433
7     123456785                 ABC Dogma     3965328
13    123456788                  Will LLC     4758900
15    123456775               SAS Web Tec     5189372
17    123456785                    GitHub     3989325
...         ...                       ...         ...
9977  123456788  Kirlosker Service Center     3475824
9984  123456789                 Kulas Inc     5251134
9987  123456788                    GitHub     5670420
9991  123456772                  Will LLC     5735513
9996  123456775                  Will LLC     3018490

[2094 rows x 3 columns]

Transactions with TotalPrice > 6,741,112:
        Account    Company  TotalPrice
818   123456781  Gen Power     6746328
1402  123456778   Will LLC     6841580
2242  123456770    Name IT     6784368
2876  123456772  Gen Power     6745865
3210  123456782  Loolo INC     6841112
3629  123456779  My SQ Man     6785800
7674  123456781  Loolo INC     6828462
8645  123456789  Gen Power     6809658
8684  123456785  Gen Power     6804670

TotalPrice categorized into bins:
     Account           Company  TotalPrice PriceCategory
0  123456779         Kulas Inc     2805660        Medium
1  123456784            GitHub     1249346        Medium
2  123456782         Kulas Inc     3711433          High
3  123456783         My SQ Man     1904655        Medium
4  123456787         ABC Dogma      305396           Low
5  123456778  Super Sexy Dingo      336464           Low
6  123456783         ABC Dogma      795795           Low
7  123456785         ABC Dogma     3965328          High
8  123456778         Loolo INC       88560           Low
9  123456775         Kulas Inc     1215784        Medium

Count of transactions in each bin:
PriceCategory
Low          4111
Medium       3793
High         1979
Very High     115
Name: count, dtype: int64

<ipython-input-1-a82b1ba8d9d5>:40: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  bin_counts = pd.value_counts(df['PriceCategory'])